.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;

    .btn-line { 
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $secondary-color;
        @include easeOut;
    }

    &.close {
        transform: rotate(180deg);

        .btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px)
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px)
            }
        }
    }
}

.menu {
    display: inline-block;
    color: rgb(55, 131, 194);
    width: 30%;
    height: 30%;
    cursor: pointer; 
    border: none;
    height: 50px;
    width: 50px;
    visibility: hidden;

    &.show {
        visibility: visible;
    }
    &-nav {
        position: absolute;
        top: 120%;
        right: 30px;
        width: 200px;
        color: #666;
        outline: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        background: rgb(2.4,2.4,2.4);
        border: 1px solid rgba($secondary-color,0.2);
        text-align: left;
        border-radius: 3px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    &-nav {

        :hover {
            background: rgba($primary-color, 1);
        }
        &.show {}
    }

    .nav-item {
        &.show {}
        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 20px;
        padding: 1rem 5px;
        color: #999;
        text-decoration: none;
        transition-delay: 2ms;

        &:hover {
            color: $secondary-color;
        }
    }
}