@import 'config';
@import 'menu';

* { box-sizing: border-box; }
::-webkit-scrollbar { display: none; }

body {
    background: $primary-color;
    color: $text-color;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading { font-size: 4rem; color: #999; }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem;
    }
    &.smaller-headings {
        margin-bottom: 2rem;
        color: #999;
    }
}

a { text-decoration: none; }

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;
        a {
            color: $text-color;
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include ease();
            }
        }
    }

    &#home {
        h1 { margin-top: 20vh; }
        span { color: $secondary-color; }
        overflow: hidden;
        display: grid;
        grid-gap: 50px;
        justify-content: space-between;
        grid-template-areas:  
            'home-info home-pic';
    }
    .home-info { grid-area: home-info; }
    .home-pic { 
        grid-area: home-pic; 
        max-width: 400px;
        img {
            min-width: 250px; 
            height: 100%; 
            width: 100%;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
        'bio bio aboutimage'
        'books-reading fav-books blog-posts';
    grid-template-columns: repeat(3, 1fr);

    .about-image { 
        grid-area: aboutimage; 
        img {
            min-width: 250px;
            height: 100%;
            width: 100%;
        }
    }
    
    .bio {
        grid-area: bio;
        color: #555; 
        font-size: 1.2rem;
    }

    .books-reading { grid-area: books-reading; }
    .fav-books { grid-area: fav-books; }
    .blog-posts { 
        grid-area: blog-posts; 
    }

    .about-list {
        padding: 0.5rem;
        border-bottom: $secondary-color 3px solid;
        .about-desc {
            font-size: .85rem;
            list-style: none;
            padding: 0.6rem;
            i {
                color: $secondary-color; 
                font-size: 15px; 
                margin-left: 10px;
                opacity: 1;
                transition: opacity 0.4s ease;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    .author {
        color: $secondary-color;
        font-size: .9rem;
    }
}

// Projects
#projects {
    h1, h2 {
        text-align: center;
    }
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.item {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-thumbnail {
    height: 200px;
    width: 300px;
    opacity: 1;
    transition: opacity 0.8s ease;

    &:hover {
        opacity: 0.5;
    }
}
.project-btn-div {
    display: flex;
    justify-content: stretch;
}

// Contact Page
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ::placeholder {
        text-align: center;
        font-size: 1rem;
    }
}
.form_control {
    padding: 8px;
    width: 60%;
    margin: 5px;
    font-size: 1.3rem;
    border: none;
    outline: none;
    color: $text-color;
    border-bottom: 2px solid $secondary-color;
    background: whitesmoke;
    background: $primary-color;
    &::placeholder { color: $text-color; }
    
}

.contact_icons_container {
    margin-top: 30px;
    text-align: center;
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    width: 300px;
    font-size: .8rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
        cursor: pointer;
    }
}

.project-btn {
    @extend .btn;
    width: 150px;
    background: none;
    border: 1px solid rgba($secondary-color, 0.2);
    color: $secondary-color;
    &:hover {
        color: #fff;
        background: $secondary-color;
    }
}

.submit_btn {
    margin-top: 30px;
    padding: 10px;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    background: none;
    font-size: 1rem;
    &:hover {
        background: $secondary-color;
        color: #fff;
        cursor: pointer;
    }
}

@import 'mobile';